<?xml version="1.0"?>
<robot name="mp_400" xmlns:xacro="http://www.ros.org/wiki/xacro">


   <gazebo reference="base_link">
    <gravity>true</gravity>
    <self_collide>false</self_collide>
  </gazebo>

  <gazebo reference="castor_wheel_link">
    <gravity>true</gravity>
    <self_collide>false</self_collide>
  </gazebo>

  <gazebo reference="fixed_wheel_link">
    <gravity>true</gravity>
    <self_collide>false</self_collide>
  </gazebo>

  <!-- Lidar sensor -->
  <gazebo reference="laser_1_link">
      <sensor type="ray" name="laser_1_link">
          <pose>0 0 0 0 0 0</pose>
          <visualize>false</visualize>
          <update_rate>40</update_rate>
          <ray>
            <scan>
              <horizontal>
                <samples>720</samples>
                <resolution>1</resolution>
                <min_angle>-0.785398</min_angle>
                <max_angle>0.785398</max_angle>
              </horizontal>
            </scan>
            <range>
              <min>0.10</min>
              <max>30.0</max>
              <resolution>0.05</resolution>
            </range>
            <noise>
              <type>gaussian</type>
              <!-- Noise parameters based on published spec for Hokuyo laser
                   achieving "+-30mm" accuracy at range < 10m.  A mean of 0.0m and
                   stddev of 0.01m will put 99.7% of samples within 0.03m of the true
                   reading. -->
              <mean>0.0</mean>
              <stddev>0.01</stddev>
            </noise>
          </ray>
          <plugin name="laser_1_link" filename="libgazebo_ros_laser.so">
            <topicName>lidar_1/scan_filtered</topicName>
            <frameName>laser_1_link</frameName>
          </plugin>
        </sensor>
  </gazebo>
  <!-- IMU sensor -->  
  <gazebo reference="imu_link">
    <gravity>true</gravity>
    <sensor name="imu_sensor" type="imu">
      <always_on>true</always_on>
      <update_rate>100</update_rate>
      <visualize>true</visualize>
      <topic>__default_topic__</topic>
      <plugin filename="libgazebo_ros_imu_sensor.so" name="imu_plugin">
        <topicName>imu</topicName>
        <bodyName>imu_link</bodyName>
        <updateRateHZ>10.0</updateRateHZ>
        <gaussianNoise>0.0</gaussianNoise>
        <xyzOffset>0 0 0</xyzOffset>
        <rpyOffset>0 0 0</rpyOffset>
        <frameName>imu_link</frameName>
      </plugin>
      <pose>0 0 0 0 0 0</pose>
    </sensor>
  </gazebo>

  <!-- Ultrasonic sensor -->
  <gazebo reference="us_1_link">
  <!-- Visuals / Collisions omitted for this example -->
  <sensor type="ray" name="range">
    <ray>
         <scan>
            <horizontal>
               <samples>1</samples>
               <resolution>1.0</resolution>
               <min_angle>-0.01</min_angle>
               <max_angle>0.01</max_angle>
            </horizontal>
            <vertical>
               <samples>1</samples>
               <resolution>1</resolution>
               <min_angle>-0.01</min_angle>
               <max_angle>0.01</max_angle>
            </vertical>
         </scan>
         <range>
            <min>0.01</min>
            <max>3.75</max>
            <resolution>0.02</resolution>
         </range>
      </ray>
      <plugin name="libgazebo_ros_range" filename="libgazebo_ros_range.so">
         <gaussianNoise>0.005</gaussianNoise>
         <alwaysOn>true</alwaysOn>
         <updateRate>50</updateRate>
         <topicName>ultrasonic/us1</topicName>
         <frameName>us_1_link</frameName>
         <radiation>SONAR</radiation>
         <fov>0.2967</fov>
      </plugin>
  </sensor>
  </gazebo>

  <!-- camera -->
  <gazebo reference="camera_link">
    <sensor type="camera" name="camera1">
      <update_rate>30.0</update_rate>
      <camera name="head">
        <horizontal_fov>1.3962634</horizontal_fov>
        <image>
          <width>800</width>
          <height>800</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.02</near>
          <far>300</far>
        </clip>
        <noise>
          <type>gaussian</type>
          <!-- Noise is sampled independently per pixel on each frame.
               That pixel's noise value is added to each of its color
               channels, which at that point lie in the range [0,1]. -->
          <mean>0.0</mean>
          <stddev>0.007</stddev>
        </noise>
      </camera>
      <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>0.0</updateRate>
        <cameraName>camera1</cameraName>
        <imageTopicName>image_raw</imageTopicName>
        <cameraInfoTopicName>camera_info</cameraInfoTopicName>
        <frameName>camera_link</frameName>
        <hackBaseline>0.07</hackBaseline>
        <distortionK1>0.0</distortionK1>
        <distortionK2>0.0</distortionK2>
        <distortionK3>0.0</distortionK3>
        <distortionT1>0.0</distortionT1>
        <distortionT2>0.0</distortionT2>
      </plugin>
    </sensor>
  </gazebo>
  <gazebo>
    <plugin name="diff_dirve_controller" filename="libgazebo_ros_diff_drive.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>40</updateRate>
        <legacyMode>false</legacyMode>
	<torque>2</torque>
        <leftJoint>mp_400_fixed_wheel_left_joint</leftJoint>
        <rightJoint>mp_400_fixed_wheel_right_joint</rightJoint>
        <wheelSeparation>0.529</wheelSeparation>
        <wheelDiameter>0.15</wheelDiameter>
        <commandTopic>cmd_vel</commandTopic>
        <rosDebugLevel>na</rosDebugLevel>
        <odometryTopic>odom</odometryTopic>
        <odometryFrame>odom</odometryFrame>
        <robotBaseFrame>base_link</robotBaseFrame>
        <publishWheelTF>true</publishWheelTF>
        <publishWheelJointState>true</publishWheelJointState>
        <wheelAcceleration>0.0</wheelAcceleration>
        <wheelTorque>20</wheelTorque>
        <odometrySource>world</odometrySource>
        <publishTf>1</publishTf>
        <publishOdomTF>true</publishOdomTF>
    </plugin>
  </gazebo>
</robot>



