<?xml version="1.0" ?>
<robot name="mpo_700" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- BODY -->
  <xacro:include filename="$(find neo_simulation)/robots/mpo_700/xacros/mpo_700_body.xacro" />

  <!-- SENSORS --> 
  <xacro:include filename="$(find neo_simulation)/robots/mpo_700/xacros/sick_laser.xacro" />


  <xacro:include filename="$(find neo_simulation)/robots/mpo_700/xacros/mpo_700_gazebo.xacro" />

  <xacro:include filename="$(find neo_simulation)/robots/mpo_700/xacros/mpo_700_head.xacro" />

  <xacro:include filename="$(find neo_simulation)/robots/mpo_700/xacros/mpo_700_wheel.xacro" />

  <!-- Base Macro-->
  <xacro:mpo_700_base name="base_link">
  </xacro:mpo_700_base>

<xacro:mpo_700_head_0 name="mpo_700_head_0" parent="base_link">
    <origin xyz="0.24 0.18 0.27" rpy="3.14 0 -1.57" />
  </xacro:mpo_700_head_0>


<xacro:mpo_700_head_1 name="mpo_700_head_1" parent="base_link">
    <origin xyz="0.24 -0.18 0.27" rpy="3.14 0 1.57" />
  </xacro:mpo_700_head_1>


<xacro:mpo_700_head_2 name="mpo_700_head_2" parent="base_link">
    <origin xyz="-0.24 0.18 0.27" rpy="3.14 0 -1.57" />
  </xacro:mpo_700_head_2>


<xacro:mpo_700_head_3 name="mpo_700_head_3" parent="base_link">
    <origin xyz="-0.24 -0.18 0.27" rpy="3.14 0 1.57" />
  </xacro:mpo_700_head_3>

<xacro:mpo_700_wheel name="wheel_0" parent="mpo_700_head_0_link">
    <origin xyz="-0.05 0. 0.18" rpy="0 0 0" />
  </xacro:mpo_700_wheel>


<xacro:mpo_700_wheel name="wheel_1" parent="mpo_700_head_1_link">
    <origin xyz="-0.05 0. 0.18" rpy="0 0 0" />
  </xacro:mpo_700_wheel>


<xacro:mpo_700_wheel name="wheel_2" parent="mpo_700_head_2_link">
    <origin xyz="-0.05 0. 0.18" rpy="0 0 0" />
  </xacro:mpo_700_wheel>


<xacro:mpo_700_wheel name="wheel_3" parent="mpo_700_head_3_link">
    <origin xyz="-0.05 0. 0.18" rpy="0 0 0" />
  </xacro:mpo_700_wheel>

<!-- Sensors -->

  <xacro:sick_v0 name="sick_laser_front" parent="base_link" ros_topic="sick_front/scan">
  	<origin xyz="0.360 0 0.181" rpy="3.14 0 0 " />
  </xacro:sick_v0>

  <xacro:sick_v0 name="sick_laser_back" parent="base_link" ros_topic="sick_back/scan">
  	<origin xyz="-0.360 0 0.181" rpy="3.14 0 3.14" />
  </xacro:sick_v0>

</robot>
