<?xml version="1.0"?>
<launch>

 <arg name="joystick" value="true"/>
  
  <node pkg="gmapping" name="slam_gmapping" type="slam_gmapping" output="screen">
    <remap from="scan" to="cob_scan_unifier/scan_unified"/>
    <rosparam file="$(find neo_simulation)/config/mpo_700/gmapping/yaml/gmapping_config.yaml" command="load" />
  </node>

 <!-- Launch robot control-->
 <group if="$(arg joystick)">
 
 <include file="$(find neo_teleop)/ros/launch/teleop.launch"/>

 </group>

</launch>
