<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mpo_700">

  <xacro:macro name="mpo_700_base" params="name">
    <link name="${name}">
      <inertial>
        <mass value="200"/>
        <origin xyz="0 0 0" />
         <inertia ixx="5.652232699207" ixy="0.009719934438" ixz="1.293988226423"
                 iyy="5.669473158652" iyz="0.007379583694" 
                 izz="5.683196351726" />
</inertial>
      <visual>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 -1.571" />
        <geometry>
            <mesh filename="package://neo_simulation/robots/mmo_700/meshes/MPO-700-BODY.dae" scale="0.001 0.001 0.001"/>
        </geometry>
      </visual>
      <collision>
        <origin xyz="0. 0. 0." rpy="0 0 -1.571" />
        <geometry>
            <mesh filename="package://neo_simulation/robots/mmo_700/meshes/MPO-700-BODY.dae" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
    </link>

  </xacro:macro>
  
</robot>
