<?xml version="1.0"?>
<!-- Materials -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mp_400">
    
<xacro:include filename="$(find neo_simulation)/robots/mp_400/xacros/mp_400_gazebo.xacro" />

<!--++++++++++++++++++++++++++++++base_link++++++++++++++++++++++++++++++++++++++++++++++++++++--> 
<!--++++++++++++++++++++body++++++++++++++++++++++++++++--> 

<xacro:include filename="$(find neo_simulation)/robots/mp_400/xacros/mp_400_body.xacro" />

<!--+++++++++++++++++++castor_wheel_link++++++++++++++++++++++++--> 
<xacro:include filename="$(find neo_simulation)/robots/mp_400/xacros/mp_400_caster_wheel.xacro" />

<!--+++++++++++++++++++left_wheel_link++++++++++++++++++++++++--> 
<xacro:include filename="$(find neo_simulation)/robots/mp_400/xacros/mp_400_fixed_wheel_left.xacro" />

<!--+++++++++++++++++++right_wheel_link++++++++++++++++++++++++--> 
<xacro:include filename="$(find neo_simulation)/robots/mp_400/xacros/mp_400_fixed_wheel_right.xacro" />

<!-- SENSORS --> 
  <!-- Sick-S300 -->
  <!-- <xacro:include filename="$(find neo_simulation)/robots/mp_400/xacros/sick_S300.xacro" /> -->

  <!--Sick Micro-scan  -->
  <xacro:include filename="$(find neo_simulation)/robots/mp_400/xacros/micro_scan.xacro" />

 
  <!--Ultrasonics, cameras and IMU's  -->

<!-- <xacro:include filename="$(find neo_simulation)/robots/mp_400/xacros/camera.xacro" /> 
  <xacro:include filename="$(find neo_simulation)/robots/mp_400/xacros/imu.xacro" />
  <xacro:include filename="$(find neo_simulation)/robots/mp_400/xacros/ultrasonic.xacro" />-->


<!-- Base link macro -->
  <link name="base_link" />


  <xacro:mp_400_base name="base_footprint" parent="base_link">
    <origin xyz="0 0 0" rpy="0 0 0" />
   </xacro:mp_400_base>


    <!-- Wheel Macro -->
  <xacro:caster_wheel name="mp_400_caster_wheel_front_left" parent="base_footprint">
    <origin xyz="0.165 0.155 0.036" rpy="0 0 1.57" />
  </xacro:caster_wheel>

  <xacro:caster_wheel name="mp_400_caster_wheel_back_left" parent="base_footprint">
    <origin xyz="-0.220 0.155 0.036" rpy="0 0 1.57" />
  </xacro:caster_wheel>

  <xacro:caster_wheel name="mp_400_caster_wheel_front_right" parent="base_footprint">
    <origin xyz="0.165 -0.155 0.036" rpy="0 0 1.57" />
  </xacro:caster_wheel>

   <xacro:caster_wheel name="mp_400_caster_wheel_back_right" parent="base_footprint">
    <origin xyz="-0.220 -0.155 0.036" rpy="0 0 1.57" />
  </xacro:caster_wheel>

  <xacro:fixed_wheel_right name="mp_400_fixed_wheel_right" parent="base_link">
    <origin xyz="0. -0.26 0.074" rpy="0 0 1.57" />
  </xacro:fixed_wheel_right>

  <xacro:fixed_wheel_left name="mp_400_fixed_wheel_left" parent="base_link">
    <origin xyz="-0. 0.26 0.074" rpy="0 0 1.57" />
  </xacro:fixed_wheel_left>


  <!--+++++++++++++++++++laserscanner_link++++++++++++++++++++++++-->

  <xacro:sick_laser_v0 name="laser_1" parent="base_link" ros_topic="lidar_1/scan_filtered">
    <origin xyz="0.230 0 0.110" rpy="0 3.14 3.14" />
  </xacro:sick_laser_v0>

  <!--+++++++++++++++++++ IMU ++++++++++++++++++++++++-->
  <!-- Comment or uncomment based on your requirement -->
  <!--><xacro:imu name="imu" parent="base_link">
    <origin xyz="0.100 0 0.300" rpy="0 0 3.14" />
  </xacro:imu><-->

  <!--+++++++++++++++++++ Ultra Sonic ++++++++++++++++++++++++-->
  <!-- Comment or uncomment based on your requirement -->
  <!-- SENSOR 1 --> 
  <!--><xacro:us_sensor name="us_1" parent="base_link">
    <origin xyz="0.100 0 0.500" rpy="0 3.14 3.14" />
  </xacro:us_sensor><-->
  <!-- SENSOR 2 --> 
  <!-- xacro:us_sensor name="us_2" parent="base_link">
    <origin xyz="0.110 0 0.300" rpy="0 3.14 3.14" />
  </xacro:us_sensor-->
  <!-- SENSOR 3 --> 
  <!-- xacro:us_sensor name="us_3" parent="base_link">
    <origin xyz="0.120 0 0.300" rpy="0 3.14 3.14" />
  </xacro:us_sensor-->
  <!-- SENSOR 4 --> 
  <!-- xacro:us_sensor name="us_4" parent="base_link">
    <origin xyz="0.130 0 0.300" rpy="0 3.14 3.14" />
  </xacro:us_sensor-->
  <!-- SENSOR 5 --> 
  <!-- xacro:us_sensor name="us_5" parent="base_link">
    <origin xyz="0.140 0 0.300" rpy="0 3.14 3.14" />
  </xacro:us_sensor-->
  <!-- SENSOR 6 --> 
  <!-- xacro:us_sensor name="us_6" parent="base_link">
    <origin xyz="0.150 0 0.300" rpy="0 3.14 3.14" />
  </xacro:us_sensor-->
  <!-- SENSOR 7 --> 
  <!-- xacro:us_sensor name="us_7" parent="base_link">
    <origin xyz="0.160 0 0.300" rpy="0 3.14 3.14" />
  </xacro:us_sensor-->
  <!-- SENSOR 8 --> 
  <!-- xacro:us_sensor name="us_8" parent="base_link">
    <origin xyz="0.170 0 0.300" rpy="0 3.14 3.14" />
  </xacro:us_sensor-->
  <!-- SENSOR 9 --> 
  <!-- xacro:us_sensor name="us_9" parent="base_link">
    <origin xyz="0.180 0 0.300" rpy="0 3.14 3.14" />
  </xacro:us_sensor-->
  <!-- SENSOR 10 --> 
  <!-- xacro:us_sensor name="us_10" parent="base_link">
    <origin xyz="0.100 0 0.300" rpy="0 3.14 3.14" />
  </xacro:us_sensor-->
  <!-- SENSOR 11 --> 
  <!-- xacro:us_sensor name="us_11" parent="base_link">
    <origin xyz="0.100 0 0.300" rpy="0 3.14 3.14" />
  </xacro:us_sensor-->
  <!-- SENSOR 12 --> 
  <!-- xacro:us_sensor name="us_12" parent="base_link">
    <origin xyz="0.190 0 0.300" rpy="0 3.14 3.14" />
  </xacro:us_sensor-->
  <!-- SENSOR 13 --> 
  <!-- xacro:us_sensor name="us_13" parent="base_link">
    <origin xyz="0.200 0 0.300" rpy="0 3.14 3.14" />
  </xacro:us_sensor-->
  <!-- SENSOR 14 --> 
  <!-- xacro:us_sensor name="us_14" parent="base_link">
    <origin xyz="0.210 0 0.300" rpy="0 3.14 3.14" />
  </xacro:us_sensor-->
  <!-- SENSOR 15 --> 
  <!-- xacro:us_sensor name="us_15" parent="base_link">
    <origin xyz="0.220 0 0.300" rpy="0 3.14 3.14" />
  </xacro:us_sensor-->
  <!-- SENSOR 16 --> 
  <!-- xacro:us_sensor name="us_16" parent="base_link">
    <origin xyz="0.230 0 0.300" rpy="0 3.14 3.14" />
  </xacro:us_sensor-->
    
    <!--Camera  -->
<!-- <xacro:camera name="camera" parent="base_link">
    <origin xyz="0 0 0.38" rpy="0 0 0" />
  </xacro:camera> -->
</robot>
