<?xml version="1.0" ?>
<robot name="mmo_700" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!--ur10 -->
  <xacro:include filename="$(find neo_simulation)/robots/mmo_700/urdf/xacros/common.gazebo.xacro" />

  <!-- CABINET --> 
  <xacro:include filename="$(find neo_simulation)/robots/mmo_700/urdf/xacros/cabinet.xacro" />

  <!--ur10 -->
  <xacro:include filename="$(find neo_simulation)/robots/mmo_700/urdf/ur10.urdf.xacro" />

  <!-- Body --> 
  <xacro:include filename="$(find neo_simulation)/robots/mmo_700/urdf/xacros/mpo_700_body.xacro" />

  <!-- SENSORS --> 
  <xacro:include filename="$(find neo_simulation)/robots/mmo_700/urdf/xacros/sick_laser.xacro" />

  <!-- Gazebo --> 
  <xacro:include filename="$(find neo_simulation)/robots/mmo_700/urdf/xacros/mpo_700_gazebo.xacro" />

  <!-- Head --> 
  <xacro:include filename="$(find neo_simulation)/robots/mmo_700/urdf/xacros/mpo_700_head.xacro" />

  <!-- Wheel --> 
  <xacro:include filename="$(find neo_simulation)/robots/mmo_700/urdf/xacros/mpo_700_wheel.xacro" />



  <!-- Base Macro-->
  <xacro:mpo_700_base name="base_link">
  </xacro:mpo_700_base>

<xacro:mmo_700_head_0 name="mmo_700_head_0" parent="base_link">
    <origin xyz="0.24 0.18 0.27" rpy="3.14 0 -1.57" />
  </xacro:mmo_700_head_0>


<xacro:mmo_700_head_1 name="mmo_700_head_1" parent="base_link">
    <origin xyz="0.24 -0.18 0.27" rpy="3.14 0 1.57" />
  </xacro:mmo_700_head_1>


<xacro:mmo_700_head_2 name="mmo_700_head_2" parent="base_link">
    <origin xyz="-0.24 0.18 0.27" rpy="3.14 0 -1.57" />
  </xacro:mmo_700_head_2>


<xacro:mmo_700_head_3 name="mmo_700_head_3" parent="base_link">
    <origin xyz="-0.24 -0.18 0.27" rpy="3.14 0 1.57" />
  </xacro:mmo_700_head_3>

<xacro:mmo_700_wheel name="wheel_0" parent="mmo_700_head_0_link">
    <origin xyz="-0.05 0. 0.18" rpy="0 0 0" />
  </xacro:mmo_700_wheel>


<xacro:mmo_700_wheel name="wheel_1" parent="mmo_700_head_1_link">
    <origin xyz="-0.05 0. 0.18" rpy="0 0 0" />
  </xacro:mmo_700_wheel>


<xacro:mmo_700_wheel name="wheel_2" parent="mmo_700_head_2_link">
    <origin xyz="-0.05 0. 0.18" rpy="0 0 0" />
  </xacro:mmo_700_wheel>


<xacro:mmo_700_wheel name="wheel_3" parent="mmo_700_head_3_link">
    <origin xyz="-0.05 0. 0.18" rpy="0 0 0" />
  </xacro:mmo_700_wheel>

<!-- Sensors -->

  <xacro:sick_v0 name="sick_laser_front" parent="base_link" ros_topic="lidar_1/scan">
    <origin xyz="0.360 0 0.181" rpy="3.14 0 0 " />
  </xacro:sick_v0>

  <xacro:sick_v0 name="sick_laser_back" parent="base_link" ros_topic="lidar_2/scan">
    <origin xyz="-0.360 0 0.181" rpy="3.14 0 3.14" />
  </xacro:sick_v0>


  <!--cabinet-->
  <xacro:mmo_700_cabinet name="cabinet" parent="base_link">
  	<origin xyz="0.072 0 0.35" rpy="0 0 0" />
  </xacro:mmo_700_cabinet>

  <!--ur10-->
  <xacro:ur10_robot parent="cabinet_link" prefix="ur10" joint_limited="true"
     shoulder_pan_lower_limit="${-pi}" shoulder_pan_upper_limit="${pi}"
     shoulder_lift_lower_limit="${-pi}" shoulder_lift_upper_limit="${pi}"
     elbow_joint_lower_limit="${-pi}" elbow_joint_upper_limit="${pi}"
     wrist_1_lower_limit="${-pi}" wrist_1_upper_limit="${pi}"
     wrist_2_lower_limit="${-pi}" wrist_2_upper_limit="${pi}"
     wrist_3_lower_limit="${-pi}" wrist_3_upper_limit="${pi}">
  </xacro:ur10_robot>

</robot>
