<?xml version="1.0" ?>
<robot name="mmo_700" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!--ur10 -->
  <xacro:include filename="$(find neo_simulation)/robots/mmo_700/urdf/xacros/common.gazebo.xacro" />

  <!-- CABINET --> 
  <xacro:include filename="$(find neo_simulation)/robots/mmo_700/urdf/xacros/cabinet.xacro" />

  <!--ur10 -->
  <xacro:include filename="$(find neo_simulation)/robots/mmo_700/urdf/ur10.urdf.xacro" />

  <!-- Body --> 
  <xacro:include filename="$(find neo_simulation)/robots/mmo_700/urdf/xacros/mpo_700_body.xacro" />

  <!-- SENSORS --> 
  <xacro:include filename="$(find neo_simulation)/robots/mmo_700/urdf/xacros/sick_laser.xacro" />

  <xacro:include filename="$(find neo_simulation)/robots/mmo_700/urdf/xacros/imu.xacro" />

  <xacro:include filename="$(find neo_simulation)/robots/mmo_700/urdf/xacros/ultrasonic.xacro" />

  <!-- Gazebo --> 
  <xacro:include filename="$(find neo_simulation)/robots/mmo_700/urdf/xacros/mpo_700_gazebo.xacro" />

  <!-- Head --> 
  <xacro:include filename="$(find neo_simulation)/robots/mmo_700/urdf/xacros/mpo_700_head.xacro" />

  <!-- Wheel --> 
  <xacro:include filename="$(find neo_simulation)/robots/mmo_700/urdf/xacros/mpo_700_wheel.xacro" />



  <!-- Base Macro-->
  <xacro:mpo_700_base name="base_link">
  </xacro:mpo_700_base>

<xacro:mmo_700_head_0 name="mmo_700_head_0" parent="base_link">
    <origin xyz="0.24 0.18 0.27" rpy="3.14 0 -1.57" />
  </xacro:mmo_700_head_0>


<xacro:mmo_700_head_1 name="mmo_700_head_1" parent="base_link">
    <origin xyz="0.24 -0.18 0.27" rpy="3.14 0 1.57" />
  </xacro:mmo_700_head_1>


<xacro:mmo_700_head_2 name="mmo_700_head_2" parent="base_link">
    <origin xyz="-0.24 0.18 0.27" rpy="3.14 0 -1.57" />
  </xacro:mmo_700_head_2>


<xacro:mmo_700_head_3 name="mmo_700_head_3" parent="base_link">
    <origin xyz="-0.24 -0.18 0.27" rpy="3.14 0 1.57" />
  </xacro:mmo_700_head_3>

<xacro:mmo_700_wheel name="wheel_0" parent="mmo_700_head_0_link">
    <origin xyz="-0.05 0. 0.18" rpy="0 0 0" />
  </xacro:mmo_700_wheel>


<xacro:mmo_700_wheel name="wheel_1" parent="mmo_700_head_1_link">
    <origin xyz="-0.05 0. 0.18" rpy="0 0 0" />
  </xacro:mmo_700_wheel>


<xacro:mmo_700_wheel name="wheel_2" parent="mmo_700_head_2_link">
    <origin xyz="-0.05 0. 0.18" rpy="0 0 0" />
  </xacro:mmo_700_wheel>


<xacro:mmo_700_wheel name="wheel_3" parent="mmo_700_head_3_link">
    <origin xyz="-0.05 0. 0.18" rpy="0 0 0" />
  </xacro:mmo_700_wheel>

<!-- Sensors -->

  <xacro:sick_v0 name="lidar_1" parent="base_link" ros_topic="lidar_1/scan_filtered">
    <origin xyz="0.360 0 0.181" rpy="3.14 0 0 " />
  </xacro:sick_v0>

  <xacro:sick_v0 name="lidar_2" parent="base_link" ros_topic="lidar_2/scan_filtered">
    <origin xyz="-0.360 0 0.181" rpy="3.14 0 3.14" />
  </xacro:sick_v0>

     <!--+++++++++++++++++++ IMU ++++++++++++++++++++++++-->
 <!-- Comment or uncomment based on your requirement -->
<!--   <xacro:imu name="imu_1" parent="base_link">
    <origin xyz="0.100 0 0.300" rpy="0 0 3.14" />
  </xacro:imu> -->

  <!--+++++++++++++++++++ Ultra Sonic ++++++++++++++++++++++++-->
  <!-- Comment or uncomment based on your requirement -->
  <!-- SENSOR 1 --> 
  <!-- xacro:us_sensor name="us_1" parent="base_link">
    <origin xyz="0.100 0 0.300" rpy="0 3.14 3.14" />
  </xacro:us_sensor-->
  <!-- SENSOR 2 --> 
  <!-- xacro:us_sensor name="us_2" parent="base_link">
    <origin xyz="0.110 0 0.300" rpy="0 3.14 3.14" />
  </xacro:us_sensor-->
  <!-- SENSOR 3 --> 
  <!-- xacro:us_sensor name="us_3" parent="base_link">
    <origin xyz="0.120 0 0.300" rpy="0 3.14 3.14" />
  </xacro:us_sensor-->
  <!-- SENSOR 4 --> 
  <!-- xacro:us_sensor name="us_4" parent="base_link">
    <origin xyz="0.130 0 0.300" rpy="0 3.14 3.14" />
  </xacro:us_sensor-->
  <!-- SENSOR 5 --> 
  <!-- xacro:us_sensor name="us_5" parent="base_link">
    <origin xyz="0.140 0 0.300" rpy="0 3.14 3.14" />
  </xacro:us_sensor-->
  <!-- SENSOR 6 --> 
  <!-- xacro:us_sensor name="us_6" parent="base_link">
    <origin xyz="0.150 0 0.300" rpy="0 3.14 3.14" />
  </xacro:us_sensor-->
  <!-- SENSOR 7 --> 
  <!-- xacro:us_sensor name="us_7" parent="base_link">
    <origin xyz="0.160 0 0.300" rpy="0 3.14 3.14" />
  </xacro:us_sensor-->
  <!-- SENSOR 8 --> 
  <!-- xacro:us_sensor name="us_8" parent="base_link">
    <origin xyz="0.170 0 0.300" rpy="0 3.14 3.14" />
  </xacro:us_sensor-->
  <!-- SENSOR 9 --> 
  <!-- xacro:us_sensor name="us_9" parent="base_link">
    <origin xyz="0.180 0 0.300" rpy="0 3.14 3.14" />
  </xacro:us_sensor-->
  <!-- SENSOR 10 --> 
  <!-- xacro:us_sensor name="us_10" parent="base_link">
    <origin xyz="0.100 0 0.300" rpy="0 3.14 3.14" />
  </xacro:us_sensor-->
  <!-- SENSOR 11 --> 
  <!-- xacro:us_sensor name="us_11" parent="base_link">
    <origin xyz="0.100 0 0.300" rpy="0 3.14 3.14" />
  </xacro:us_sensor-->
  <!-- SENSOR 12 --> 
  <!-- xacro:us_sensor name="us_12" parent="base_link">
    <origin xyz="0.190 0 0.300" rpy="0 3.14 3.14" />
  </xacro:us_sensor-->
  <!-- SENSOR 13 --> 
  <!-- xacro:us_sensor name="us_13" parent="base_link">
    <origin xyz="0.200 0 0.300" rpy="0 3.14 3.14" />
  </xacro:us_sensor-->
  <!-- SENSOR 14 --> 
  <!-- xacro:us_sensor name="us_14" parent="base_link">
    <origin xyz="0.210 0 0.300" rpy="0 3.14 3.14" />
  </xacro:us_sensor-->
  <!-- SENSOR 15 --> 
  <!-- xacro:us_sensor name="us_15" parent="base_link">
    <origin xyz="0.220 0 0.300" rpy="0 3.14 3.14" />
  </xacro:us_sensor-->
  <!-- SENSOR 16 --> 
  <!-- xacro:us_sensor name="us_16" parent="base_link">
    <origin xyz="0.230 0 0.300" rpy="0 3.14 3.14" />
  </xacro:us_sensor-->


  <!--cabinet-->
  <xacro:mmo_700_cabinet name="cabinet" parent="base_link">
  	<origin xyz="0.072 0 0.35" rpy="0 0 0" />
  </xacro:mmo_700_cabinet>

  <!--ur10-->
  <xacro:ur10_robot parent="cabinet_link" prefix="ur10" joint_limited="true"
     shoulder_pan_lower_limit="${-pi}" shoulder_pan_upper_limit="${pi}"
     shoulder_lift_lower_limit="${-pi}" shoulder_lift_upper_limit="${pi}"
     elbow_joint_lower_limit="${-pi}" elbow_joint_upper_limit="${pi}"
     wrist_1_lower_limit="${-pi}" wrist_1_upper_limit="${pi}"
     wrist_2_lower_limit="${-pi}" wrist_2_upper_limit="${pi}"
     wrist_3_lower_limit="${-pi}" wrist_3_upper_limit="${pi}">
  </xacro:ur10_robot>

</robot>
