<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <!--should be configured in simulation.launch-->
  <arg name="world_name_global" default="worlds/empty.world"/>
  
  <!--To launch RVIZ set the value to true-->
  <arg name="rviz" value="false"/>

  <!--To move robot using teleop_keyboard-->
  <arg name="software_joystick" value="true"/>

<!---=================================================================================================================================================================-->

 <!--Gazebo Variables--> 
  <arg name="world" default="empty"/> 
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_name_global)"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="debug" value="$(arg debug)"/>
</include>
<!---=================================================================================================================================================================-->

  <!--Robot description to param server-->
  <param name="robot_description" command="$(find xacro)/xacro '$(find neo_simulation)/robots/mmo_700/mmo_700.urdf.xacro'"/>

  <node name="mmo_700_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
  args="-urdf -param robot_description -model mmo_700" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
  <param name="publish_frequency" value="20.0"/>
  </node>


   <include file="$(find neo_simulation)/config/controller/launch/controller_utils.launch"/>

<rosparam file="$(find neo_simulation)/config/controller/arm_controller_ur10.yaml" command="load"/>
<node name="arm_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn arm_controller" respawn="false" output="screen"/>

<rosparam file="$(find neo_simulation)/config/controller/gripper_controller.yaml" command="load"/>
<node name="gripper_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn gripper_controller" respawn="false" output="screen"/>
<!---=================================================================================================================================================================-->
 
 <!--Neo control Package  **To use teleop-keyboard and joystick, neo_control package must be cloned to the workspace**--> 
 
 <!--if arg software_joystick is set to true-->

 <group if="$(arg software_joystick)">
   <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop_keyboard"  output="screen">
  </node>
</group>

<!---=================================================================================================================================================================-->
</launch>
